.col-md-2>img{
    border-radius: 6px;
}
.logo {
    text-align: end;
}
.col-md-4{
    max-width: 28%;
    text-align: center;
    height: 100px;
    padding-top: 40px;
}
.col-md-6{
    max-width: 45%;
    height: 100px;
    text-align: center;
}
.col-md-12{
    max-width: 90%;
    text-align: center;
    height: 100px;
    
}
